{% extends 'base.html' %}
{% load cart_template_tag crispy_forms_tags %}
{% block title %}
    <title>Checkout</title>
{% endblock %}
{% block content %}

    <main class="mt-5 pt-4">

        <div class="container wow fadeIn">

            <!-- Heading -->
            <h2 class="my-5 h2 text-center">Checkout form</h2>

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                    <!--Card-->
                    <div class="card card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <span>You have: {{ request.user.bonuses }} bonuses</span>
                            <button type="submit" class="btn btn-outline-primary ">continue to checkout</button>
                        </form>
                    </div>
                    <!--/.Card-->

                </div>

                <!--Grid column-->
                <div class="col-md-4 mb-4">

                    <!-- Heading -->
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Your cart</span>
                        <span class="badge badge-secondary badge-pill">{{ request.user|cart_item_count }}</span>
                    </h4>

                    {% for product in object.items.all %}

                        <ul class="list-group mb-3 z-depth-1">
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0">{{ product.item.name }}</h6>
                                    <small class="text-muted">{{ product.quantity }}</small>
                                </div>
                                <span class="text-muted">{{ product.get_total_item_price }}$</span>
                            </li>
                        </ul>
                    {% endfor %}
                    <div>
                        <h6 class="my-0">Total price: {{ object.get_total }}</h6>
                    </div>


                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </div>
    </main>

{% endblock content %}

{% block extra_scripts %}
    <script>
        var hideable_shipping_form = $('.hideable_shipping_form');
        var hideable_billing_form = $('.hideable_billing_form');

        var use_default_shipping = document.querySelector("input[name=use_default_shipping]");
        var use_default_billing = document.querySelector("input[name=use_default_billing]");

        use_default_shipping.addEventListener('change', function () {
            if (this.checked) {
                hideable_shipping_form.hide();
            } else {
                hideable_shipping_form.show();
            }
        })

        use_default_billing.addEventListener('change', function () {
            if (this.checked) {
                hideable_billing_form.hide();
            } else {
                hideable_billing_form.show();
            }
        })

    </script>
{% endblock extra_scripts %}
