{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>{{ product.slug }}</title>
{% endblock %}
{% block content %}

    <div class="container">
        <div>
            <img src="{% static 'img/Fresh-food_thumbnail_1536x1536_200_Standard.jpg' %}" alt="">
        </div>
        <div class="row">
            {% for product_image in product.photo_set.all %}
                <img id="img" src="{{ product_image.photo.url }}">
            {% endfor %}
        </div>
    </div>
{% endblock %}