{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Home</title>
{% endblock %}
{% block content %}
    <div class="container ">

        <div>
            <img src="{% static 'img/Fresh-food_thumbnail_1536x1536_200_Standard.jpg' %}" alt="">
        </div>

        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

            <!-- Navbar brand -->
            <span class="navbar-brand">Categories:</span>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/?category=all" class="nav-link">All</a>
                    </li>
                    {% for category in category %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="?category={{ category }}">{{ category }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <!-- Links -->

                <form class="form-inline">
                    <div class="md-form my-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    </div>
                </form>
            </div>
            <!-- Collapsible content -->

        </nav>
        <!--/.Navbar-->

        <!--Section: Products v.3-->
        <section class="text-center mb-4">

            <div class="row wow fadeIn">

                {% for product in products.all %}
                    <div class="col-lg-3 col-md-6 mb-4">

                        <div class="card">

                            <div class="view overlay">
                                <img src="{{ product.main_photo.url }}" class="card-img-top" height="200">
                                <a href="{{ product.get_absolute_url }}">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <div class="card-body text-center">
                                <a href="" class="grey-text">
                                    <h5>{{ product.category.first }}</h5>
                                </a>
                                <h5>
                                    <strong>
                                        <a href="{{ product.get_absolute_url }}"
                                           class="dark-grey-text">{{ product.name }}
                                        </a>
                                    </strong>
                                </h5>

                                <h4 class="font-weight-bold blue-text">
                                    <strong>
                                        {{ product.price }} $
                                    </strong>
                                </h4>

                                <a class="btn btn-primary btn-md my-0 p" href="{% url 'add_to_cart' product.slug %}">Add
                                    to cart
                                    <i class="fas fa-shopping-cart ml-1"></i>
                                </a>

                            </div>

                        </div>

                    </div>
                {% endfor %}
            </div>

        </section>

        <!--Pagination-->
        {% if is_paginated %}
            <nav class="d-flex justify-content-center wow fadeIn">
                <ul class="pagination pg-blue">

                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link"
                               href="/?category={{ request.GET.category }}&page={{ page_obj.previous_page_number }}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    {% endif %}

                    <li class="page-item active">
                        <a class="page-link" href="/?category={{ request.GET.category }}&page={{ page_obj.number }}">{{ page_obj.number }}
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="/?category={{ request.GET.category }}&page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock %}