{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}
    <title>Login</title>
{% endblock title %}
{% block content %}
    <form id="add_form" method="post">
        {% csrf_token %}
        <div class="container col-md-5 mt-5">
            {% bootstrap_form form %}
            <button form="add_form" type="submit" class="btn btn-primary mt-5">Login</button>
        </div>
    </form>
{% endblock %}
