{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %}
    <title>Profile</title>
{% endblock title %}
{% block content %}
    <section class="section about-section gray-bg" id="about">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-lg-6">
                    <div class="about-text go-to">
                        <div class="row about-list">
                            <div class="col-md-6">
                                <div class="media">
                                    <label>First name</label>
                                    <p>{{ user.first_name }}</p>
                                </div>
                                <div class="media">
                                    <label>Bonuses</label>
                                    <p>{{ user.bonuses }}</p>
                                </div>
                                <div class="media">
                                    <label>Phone</label>
                                    <p>{{ user.number }}</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="media">
                                    <label>E-mail</label>
                                    <p>{{ user.email }}</p>
                                </div>
                                <div class="media">
                                    <label>Street address</label>
                                    <p>{{ user.street_address }}</p>
                                </div>
                                <div class="media">
                                    <label>Apartments address</label>
                                    <p>{{ user.apartments_address }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-avatar">
                        {% if user.photo %}
                            <img src="{{ user.photo.url }}" title="" alt="">
                        {% else %}
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" title="" alt="">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="text-center mt-5">
                    <table class="table table-borderless">
                        <thead>
                        <tr>
                            <th scope="col">№</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% for product in user.order_set.all %}
                                {% for foo in product.items.all %}
                                    <td>{{ foo }}</td>
                                {% endfor %}
                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="container">
                <div class="text-center mt-5">
                    <form id="add_form" method="post">
                        {% csrf_token %}
                        <div class="container col-md-5 mt-5">
                            {% bootstrap_form form %}
                            <button form="add_form" type="submit" class="btn btn-primary mt-5">Edit</button>
                        </div>
                    </form>
                </div>
            </div>
    </section>


{% endblock %}